html, body {
        height: 100%;
        padding: 0;
        margin: 0;
}

#mapid {
    width: 100%;
    height: 100%;
}

.center-leaflet {
    transform: translate(-50%, 0%);
    margin-left: 50vw !important;
}

.vcenter-leaflet {
    margin-top: 20vh !important;
}

.leaflet-left .leaflet-control {
    margin-left: 0px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 0px;
}

.leaflet-popup-content {
    margin: 4px 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: max-content !important;
}

.leaflet-popup-tip {
    width: 14px;
    height: 14px;
    background: #fcfcfc;
    box-shadow: 0 0px 0px rgba(0,0,0,0.4);
}

.leaflet-popup-content-wrapper {
    background: #fcfcfc;
    color: #535353;
    box-shadow: 2px 2px 2px #BCBCBC;
}

.custom-popup .leaflet-popup-tip {
    width: 0px;
    height: 0px;
}

.custom-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
}

.centered-popup .leaflet-popup-content-wrapper {
    transform: translateY(35%);
}

.centered-popup .leaflet-popup-close-button {
    transform: translateY(710%);
}

.cross .leaflet-popup-close-button {
    transform: translateY(350%) !important;
}

.panels-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fcfcfc;
    border: 0px solid #CECECE;
    box-shadow: 2px 2px 2px #BCBCBC;
    white-space: nowrap;
    text-align: center;
}

.padding-container {
    padding-left: 0px;
    padding-bottom: 20px;
}

.trace-info {
    display: grid;
    grid-gap: 0px 0px;
    justify-items: right;
    align-items: center;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    height: 131px;
}

.custom-button {
    cursor: pointer;
}

.panels {
    display: inline-block;
    *display: inline;
    padding: 4px 10px;
    color: #535353;
    white-space: nowrap;
}

.panels-button {
    display: inline-block;
    *display: inline;
    padding: 3px 6px;
    color: #535353;
    white-space: nowrap;
}

.panels-info {
    padding-top: 0px;
    font-size: 10px;
    color: #777777;
}

.panels-val {
    padding-bottom: 0px;
    min-width: 70px;
    text-align: right;
}

.panels-live {
    text-align: center;
    background-color: #f5f5f5;
    font-size: 11px;
    margin-right: 4px;
}

#distance {
  grid-column-start: 1 / span 1;
  grid-row-start: 2 / span 1;
}

#distance-val {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#elevation {
  grid-column: 2 / span 1;
  grid-row-start: 2 / span 1;
}

#elevation-val {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#speed {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#speed-val {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#duration {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#duration-val {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#live-distance {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

#live-speed {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

#live-elevation {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

#live-slope {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.elevation {
  grid-column: 3 / span 1;
  grid-row: 1 / span 4;
}

#start-point {
    align-items: center;
}

#end-point {
  visibility: hidden;
  position: relative;
  top: -12px; left: 0px;
}

.slidecontainer {
    width: 100%;
    height: 75%;
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

.slider {
  display: block;
  margin-top: 5px;
  margin-left: 34px;
  -webkit-appearance: none;
  appearance: none;
  width: 86%;
  height: 7px;
  border-radius: 3px;
  background: #D0D0D0;
  -webkit-box-shadow: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#start-point.slider::-webkit-slider-thumb {
  background: #71bb6d;
}

#start-point.slider::-moz-range-thumb {
  background: #71bb6d;
}

#end-point.slider::-webkit-slider-thumb {
  background: #f74848;
  background-image: url('end.png');
  background-size: 20px;
  background-position: center center;
}

#end-point.slider::-moz-range-thumb {
  background: #f74848;
  background-image: url('end.png');
  background-size: 20px;
  background-position: center center;
}

.visible::-webkit-slider-thumb {
  visibility: visible;
}

.visible::-moz-range-thumb {
 visibility: visible;
}

.hidden::-webkit-slider-thumb {
  visibility: hidden;
}

.hidden::-moz-range-thumb {
 visibility: hidden;
}

#crop-container {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  margin-right:auto;
  margin-left:0;
  display: block;
}

#validate {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

#unvalidate {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.fas .far {
    color: #D0D0D0 !important;
}

.tick {
    color: #FF0000;
    font-size: 100 !important;
}

.start-marker {
    fill: #71bb6d;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-opacity: 1;
    stroke-width: 2;
}

.edit-marker {
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #000000;
    stroke-opacity: 1;
    stroke-width: 1;
}

.leaflet-image-layer {
    width: 10px !important;
    height: 10px !important;
    border-radius: 7px;
    position: absolute;
    top: -7px;
    left: -7px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab {
    padding: 2px 6px;
    font-size: 10px;
    color: #777777;
    display:block;
    float:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f7f7;
    border: 0px solid #CECECE;
    box-shadow: #BCBCBC 2px 2px 2px, #BCBCBC inset 0px 2px 2px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tab-focus {
    box-shadow: #BCBCBC 2px 2px 2px, #BCBCBC inset 0px 0px 0px;
    background-color: #fcfcfc;
}

.leaflet-interactive.mouseDown {
    cursor: grabbing !important;
}

.unit {
    font-size: 11px;
    vertical-align: top;
}

.selected {
    color: #535353;
}

.unselected {
    color: #b3b3b3;
}

.no-click2 {
    pointer-events: none;
}

.no-click > i {
    pointer-events: none;
}

#popup-grid {
    display: grid;
    grid-gap: 8px;
    align-items: center;
    grid-auto-columns: auto;
    width: max-content;
}

#speed-change {
    grid-column: 1;
    grid-row: 1;
}

#start-change {
    grid-column: 1;
    grid-row: 2;
}

#ok-dialog {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

#close-dialog {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

input {
    font: inherit;
    font-size: inherit;
}

ul {
    padding-inline-start: 25px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#about-text {
    text-align: justify;
    width: 400px;
    display: none;
}

#help-text {
    text-align: justify;
    width: 750px;
    display: none;
    line-height: 1.2;
}

#export-content {
    text-align: center;
    width: 310px;
    display: none;
}

#clear-content {
    text-align: center;
    width: 170px;
    display: none;
}

#delete-content {
    text-align: center;
    width: 180px;
    display: none;
}

#strava-content {
    text-align: center;
    width: 180px;
    display: none;
}

#color-content {
    text-align: center;
    display: none;
}

#load-content {
    text-align: center;
    display: none;
}

#share-content {
    text-align: center;
    display: none;
}

#merge-content {
    text-align: center;
    display: none;
}

#reduce-content {
    text-align: center;
    display: none;
}

.fancy-button {
    color:white;
    background-color:rgb(220,15,130);
    border-radius: 4px;
    margin-top: 4px;
}

.normal-button {
    color: #fcfcfc;
    background-color: rgb(160,160,160);
    border-radius: 4px;
    margin-top: 4px;
}

.input-minimal {
    border-width: 0px;
    color: inherit;
    padding: 0px;
    background: inherit;
}

.waypoint-input {
    width: 200px;
}
