body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #3b3735;
}
div::-webkit-scrollbar { display: none; }
div { -ms-overflow-style: none; scrollbar-width: none; }
h1 {
    margin-top: 0px;
    padding-top: 70px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1, h2 {
    
}
.button {
    font-size: 10pt;
    color: #535353;
    background: #f9f9f9;
    padding: 4px;
    border: #535353 1px solid;
    border-radius: 2px;
}
.guide {
    line-height: 1.7;
}
.guide-item {
    padding:10px; border: 1px solid #dedede;
    margin-top: -1px;
}
.guide-title {
    font-size: 13pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.my-anchor {
    color: inherit;
    text-decoration: inherit;
}
a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
#header-container {
    position:absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    width: 300px;
    line-height: 40px;
    overflow:hidden;
    background: #f4f4f4;
}
.block {
    padding: 0% 10% 5% 10%;
    text-align: justify;
}
#block-container {
    position:absolute;
    top:0px;
    bottom:0px;
    left:300px;
    right:0px;
    overflow: auto;
}
#social {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
}
#social > a {
    padding: 0px 10px;
}
#languages {
    position: absolute;
    width: 100%;
    font-size: 13px;
    text-align: center;
    bottom: 0px;
}
.language {
    padding: 0px 10px;
}
