html, body {
        height: 100%;
        padding: 0;
        margin: 0;
}

#mapid {
    left: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
}

.leaflet-container {
    font-size: 13px;
}

.center-leaflet {
    transform: translateX(-50%);
    margin-left: 50% !important;
}

.vcenter-leaflet {
    position: absolute;
    margin-top: 50vh !important;
    transform: translateY(-80%);
}

.leaflet-top {
    height: 100%;
    z-index: 2000;
}

.leaflet-left {
    width: 100%;
}

.leaflet-left .leaflet-control {
    margin-left: 0px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 0px;
}

.leaflet-popup-content {
    margin: 4px 6px;
    max-width: 60vw;
    width: max-content !important;
}

.leaflet-popup-tip {
    width: 14px;
    height: 14px;
    background: #fcfcfc;
    box-shadow: 0 0px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.4);
}

.leaflet-popup-content-wrapper {
    background: #fcfcfc;
    color: #535353;
    box-shadow: 2px 2px 2px #BCBCBC;
    -webkit-box-shadow: 2px 2px 2px #BCBCBC;
    -moz-box-shadow: 2px 2px 2px #BCBCBC;
    border-radius: 4px;
}

.leaflet-control-layers-toggle {
    background-image: none !important;
    background-size: auto !important;
    width: auto !important;
    height: auto !important;
    padding: 6px 7px;
    font-size: 14px;
    color: inherit !important;
}

.leaflet-control-attribution {
    float: right;
}

.leaflet-control-scale {
    bottom: 10px;
    left: 10px;
    z-index: 0;
}

.mapboxgl-canvas {
    cursor: grab;
}

.dontselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panels-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px #BCBCBC;
    -webkit-box-shadow: 2px 2px 2px #BCBCBC;
    -moz-box-shadow: 2px 2px 2px #BCBCBC;
    white-space: nowrap;
    text-align: center;
}

.panels-container.leaflet-control-window {
    border-radius: 4px;
}

.trace-info {
    width: 100vw;
    display: grid;
    grid-gap: 0px 0px;
    justify-items: right;
    align-items: center;
    grid-auto-rows: min-content;
}

.custom-button {
    cursor: pointer;
}

.panels {
    display: inline-block;
    *display: inline;
    padding: 4px 10px;
    color: #535353;
    white-space: nowrap;
}

.panels-button {
    display: inline-block;
    *display: inline;
    padding: 3px 6px;
    color: #535353;
    white-space: nowrap;
    width: 15px;
}

.panels-info {
    padding-top: 0px;
    padding-right: 0px;
    font-size: 12px;
    color: #777777;
}

.panels-val {
    padding-bottom: 0px;
    padding-right: 0px;
    min-width: 70px;
    text-align: right;
}

#toolbar {
    border-radius: 4px;
}

#buttons-bar {
    display: flex;
}

#buttons {
    border-radius: 0px 4px 4px 0px;
}

#editing-options {
    display: none;
    text-align: left;
    border-radius: 0px 4px 4px 0px;
    margin-left: -2px;
    height: fit-content;
}

#toggle-editing-options {
    display: none;
    height: fit-content;
}

#activity-input {
    margin-right: 15px;
}

.toggle-on {
    margin-top: 2px;
    right: 0px;
    position: absolute;
}

.toggle-off {
    border-radius: 0px 10px 10px 0px;
    margin-left: -2px;
    padding: 6px 8px;
}

#distance {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#distance-val {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#elevation {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#elevation-val {
  min-width: 120px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#speed {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#speed-val {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#duration {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#duration-val {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#tracks {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
}

#tracks-val {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}

#segments {
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
}

#segments-val {
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}

#points {
  grid-column: 7 / span 1;
  grid-row: 2 / span 1;
}

#points-val {
  grid-column: 7 / span 1;
  grid-row: 1 / span 1;
}

#units-text {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#units-input {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

#speed-units-text {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

#speed-units-input {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}

#elevation-input {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

#start-point {
    align-items: center;
}

#end-point {
  visibility: hidden;
  position: relative;
  top: -12px; left: 0px;
}

#slide-container {
    width: 100%;
    height: 20px;
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
}

.slider {
  display: block;
  margin-top: 5px;
  margin-left: 11%;
  -webkit-appearance: none;
  appearance: none;
  width: 89%;
  height: 7px;
  border-radius: 3px;
  background: #D0D0D0;
  -webkit-box-shadow: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#start-point.slider::-webkit-slider-thumb {
  background: #71bb6d;
}

#start-point.slider::-moz-range-thumb {
  background: #71bb6d;
}

#end-point.slider::-webkit-slider-thumb {
  background: #f74848;
  background-image: url('/res/end.png');
  background-size: 20px;
  background-position: center center;
}

#end-point.slider::-moz-range-thumb {
  background: #f74848;
  background-image: url('/res/end.png');
  background-size: 20px;
  background-position: center center;
}

.visible::-webkit-slider-thumb {
  visibility: visible;
}

.visible::-moz-range-thumb {
 visibility: visible;
}

.hidden::-webkit-slider-thumb {
  visibility: hidden;
}

.hidden::-moz-range-thumb {
 visibility: hidden;
}

#crop-container {
  grid-column: 4 / span 1;
  grid-row: 7 / span 1;
  margin-right:auto;
  margin-left:0;
  display: block;
}

#validate {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.footer {
    padding: 0px 2px;
}

.fas .far {
    color: #D0D0D0 !important;
}

.start-marker {
    fill: #71bb6d;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-opacity: 1;
    stroke-width: 2;
}

.position-marker {
    fill: #00c8ff;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-opacity: 1;
    stroke-width: 2;
}

.edit-marker {
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #000000;
    stroke-opacity: 1;
    stroke-width: 1;
}

.end-circle {
    width: 10px !important;
    height: 10px !important;
    border-radius: 7px;
    position: absolute;
    top: -7px;
    left: -7px;
}

#sortable-tabs {
    max-width: 100vw;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
}
.tab {
    padding: 2px 4px;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: -5px;
    overflow-y: hidden;
    font-size: 12px;
    color: #777777;
    display:inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f7f7;
    border: 0px solid #CECECE;
    box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px -2px 2px;
    -webkit-box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px -2px 2px;
    -moz-box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px -2px 2px;
    cursor: pointer;
}
.tab-focus {
    box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px 0px 0px;
    -webkit-box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px 0px 0px;
    -moz-box-shadow: #BCBCBC 2px 0px 2px, #BCBCBC inset 0px 0px 0px;
    background-color: #fcfcfc;
}
.tab-color {
    position: inherit;
    margin: -2px -4px 0px -4px;
    height: 2px;
}
ul::-webkit-scrollbar { display: none; }
ul { -ms-overflow-style: none; scrollbar-width: none; }

.file-structure {
    list-style-type: none;
    padding-inline-start: 0;
    text-align: left;
}

.file-structure-track {
    border: solid 1px;
    margin-top: 16px;
    background: #ececec;
    display: flex;
}

.file-structure-track > span {
    padding: 0px 10px;
}

.file-structure-segment {
    border: solid 1px;
    margin-top: -1px;
    display: flex;
}

.file-structure-segment > span {
    padding: 0px 10px;
}

.leaflet-interactive.mouseDown {
    cursor: grabbing !important;
}

.no-click2 {
    pointer-events: none;
}

.no-click > i {
    pointer-events: none;
}

input {
    font: inherit;
    font-size: inherit;
}

ul {
    padding-inline-start: 25px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#help-text {
    text-align: justify;
    width: 80vw;
    line-height: 1.2;
    white-space: normal;
}

#export-content table {
    margin-left: auto;
    margin-right: auto;
}

#export-content td {
    padding: 0px 10px;
}

.unselected {
    color: #b3b3b3;
}

.popup-content {
    text-align: center;
    width: auto;
}

.popup-action {
    padding-right: 15px;
}

.popup-action:hover {
    color: black;
}

.fancy-button {
    color:white;
    background-color:rgb(220,15,130);
    border-radius: 4px;
    margin-top: 4px;
}

.normal-button {
    color: #fcfcfc;
    background-color: rgb(160,160,160);
    border-radius: 4px;
    margin-top: 4px;
}

.input-minimal {
    border-width: 0px;
    color: inherit;
    padding: 0px;
    background: inherit;
}

.dist-marker {
	font-size: 10px;
	color: #000;
	background: #fff;
	border-radius: 40%;
    border: 1px #000 solid;
	text-align: center;
    padding: 0px 2px;
    z-index: 1000 !important;
    margin-top: -7px !important;
    width: fit-content !important;
    height: fit-content !important;
}

.wpt-cmt img {
   width: 100%;
}

.wpt-input {
    color: black;
    background: white;
    padding: 1px 2px;
    border: solid 1px;
    border-radius: 2px;
}

#mly {
    width: 400px;
    height: 300px;
    z-index: 2000;
    display: none;
    border: solid black 1px;
    border-radius: 10px;
    left: 40px;
    top: 50px;
}

#mly-controls {
    position: relative;
    float: right;
    z-index: 1;
    background: #0000006b;
    border-radius: 0px 0px 0px 10px;
}

#mly-controls > .fas {
    padding: 7px;
    color: white;
    font-size: 14px;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

#street-view-selector {
    display: none;
}

#street-view-selector > * {
    display: inline-block;
}

#street-view-content:hover #street-view-selector {
  display: inline-block;
}
