.leaflet-control-window-wrapper{
    display: none;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nonmodal{
    z-index: 6000;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.7);
}

.visible {
    display: block;
    opacity: 1;
}

.leaflet-control-window{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: fit-content;
    height: fit-content;

    z-index: 2000;
    padding: 6px;
    background: #fcfcfc;
    color: #535353;

    /** BOX SHADOW **/
    box-shadow: 2px 2px 2px #BCBCBC;
    -webkit-box-shadow: 2px 2px 2px #BCBCBC;
    -moz-box-shadow: 2px 2px 2px #BCBCBC;
}

.control-window{
    background-color: #ffffff;
    color: #353535;
}

.leaflet-control-window .close {
    position: absolute;
    right: 4px;
    cursor: pointer;
    z-index:30;

    font-size: 14pt;
    text-align: center;
    line-height: 0.3;
}

.leaflet-control-window .content{
    z-index:29;
    overflow: auto;
}


.disabled{
	opacity: .5;
	pointer-events:none;
}
