.steelblue-theme.leaflet-control.elevation .background{
	background-color:#fcfcfc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px
}
.steelblue-theme.leaflet-control.elevation .axis line,.steelblue-theme.leaflet-control.elevation .axis path{
	fill:none;
	stroke:#CECECE;
	stroke-width:1
}
.steelblue-theme.leaflet-control.elevation .mouse-drag{
	fill:rgba(0,0,0,.1)
}
.steelblue-theme.leaflet-control.elevation .elevation-toggle{
	cursor:pointer;
	box-shadow:0 1px 7px rgba(0,0,0,.4);
	-webkit-border-radius:5px;
	border-radius:5px;
	width:36px;
	height:36px;
    color:#ff0000;
	background-color:#fcfcfc
}
.steelblue-theme.leaflet-control.elevation .elevation-toggle-icon{
	background:url(images/elevation-steelblue.png) no-repeat center center
}
.steelblue-theme.leaflet-control.elevation .area{
	fill:#c2c2c2
}
.steelblue-theme.leaflet-control.elevation .mouse-focus-line{
	pointer-events:none;
	stroke-width:1;
	stroke:#000000
}
.steelblue-theme.leaflet-control.elevation-collapsed .background{
	display:none
}
.steelblue-theme.leaflet-control.elevation-collapsed .elevation-toggle{
	display:block
}
.steelblue-theme.height-focus{
	stroke:#ffffff;
	fill:#33BBFF;
	stroke-width:2
}
.steelblue-theme.height-focus.line{
	pointer-events:none;
	stroke-width:0
}
