.leaflet-container .leaflet-condensed-attribution {
    margin: -10px 10px -10px 0px;
    padding: 0;
    border-radius: 20px;
    background: rgba(255,255,255,.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.leaflet-condensed-attribution .attributes-body {
  display: none;
  padding: 0 4px 0 12px;
  height: 20px;
  line-height: 20px;
}

.leaflet-condensed-attribution:hover .attributes-body {
  display: inline-block !important;
}

.leaflet-condensed-attribution .attributes-emblem {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: rgb(0 150 224 / 76%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
